* {
  margin: 0;
}
.container_Header {
  width: 100%;
  height: auto;
  font-size: 20px;
  background-color: rgb(24 28 20);
  padding: 20px;
  text-align: center;
  box-shadow: 0 2px 4px rgb(105 107 101);
  box-sizing: border-box;
}

.container_Header ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  gap: 25px;
}
.container_Header a {
  text-decoration: none;
  color: rgb(236 223 204);
}

.container_Header a:hover {
  color: rgb(255 255 255);
}

.container_I {
  display: flex;
  position: relative;
  justify-content: center;
  align-items: center;
  background-color: rgb(97, 98, 96);
  gap: 200px;
}
.keyname{
  color: rgb(128 237 235);
  align-items: center;
  margin: 20px;
}

.container_items {
  color: rgb(24 28 20);
  display: block;
  justify-content: center;
  text-align: center;
  padding: 80px 0px 80px 0px;
}

.container_items strong {
  text-shadow: 0px 0px 8px rgb(236 223 204);
  color: rgb(128 237 235) ;
}

.container_items .foto {
  margin: 10px;
  order: 3;
}
.container_items p {
  font-size: 20px;
  justify-content: center;
  text-align: center;
  align-items: center;
  margin: 10px;
  order: 2;
}

.container_items .svg {
  justify-content: center;
  text-align: center;
  gap: 10px;
  padding: 10px 10px 0px 10px;
  order: 1;
}

.foto {
  width: 450px;
  margin: 30px;
  border-radius: 50%;
  box-shadow: 0 0px 8px rgb(236 223 204);
}
.container_inf {
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: center;
  padding: 180px;
  gap: 100px;
  background-color: rgb(236 223 204);
}

.container_inf h3 {
  text-align: center;
  justify-content: center;
  display: block;
  font-size: 50px;
  width: auto;
  white-space: nowrap;
}
.container_inf p {
  text-align: center;
  font-size: 21px;
}
.container_Tec {
  display: flex;
  flex-direction: column;
  margin: 30px;
}

.container_Tecinfo {
}
